@page "/addPosition"
@model Add
@{
}
<form method="post">
    <table align="left">
        <tr>
            <td>Name: </td>
            <td><input type="text" name="name" /></td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-primary">Save</button>
            </td>
            <td>
                <a asp-page="List" class="btn btn-secondary">Cancel</a>
            </td>
        </tr>
    </table>
</form>