@page "/schools/{id}"
@model SelectedSchool
@{
}
<h2>@Model.Message</h2>
<h3><a asp-page="../Floors/Add">Add floor</a></h3>
<h3><a asp-page="../Floors/List">View floors list</a></h3>
<h3><a asp-page="../Employees/TeacherAdd">Add teacher</a></h3>
<h3><a asp-page="../Employees/DirectorAdd">Add director(only one)</a></h3>
<h3><a asp-page="../Employees/Add">Add employee(TEST)</a></h3>
<h3><a asp-page="../Positions/Add">Add position(TEST)</a></h3>
<h3><a asp-page="../Positions/List">View position list(TEST)</a></h3>
<h3><a asp-page="../Employees/List">View employees list</a></h3>
<h3><a asp-page="../Students/Add">Add student</a></h3>
<h3><a asp-page="../Students/List">View students list</a></h3>
@*<h3><a asp-page="../Rooms/Add" asp-route-schoolId="@Model.Id">Add room</a></h3>*@
@*<a href="http://localhost:5267/SelectedSchool/{school.Id}/FloorAdd">Add floor</a></h3>*@

