@page "/schools/{id}"
@model SelectedSchool
@{
}
<h2>@Model.Message</h2>
<h3><a asp-page="../Floors/List">View floors list</a></h3>
<h3><a asp-page="../RoomTypes/List">View room types list</a></h3>
<h3><a asp-page="../Positions/List">View position list</a></h3>
<h3><a asp-page="../Employees/List">View employees list</a></h3>
<h3><a asp-page="../Students/List">View students list</a></h3>

