@*@page "/add"
@model SchoolsTest.WebVers.Pages.Employees.Add
@{
}
<form method="post">
    <table align="left">
        <tr>
            <td>First Name: </td>
            <td><input type="text" name="firstName" /></td>
        </tr>
        <tr>
            <td>Last Name: </td>
            <td><input type="text" name="lastName" /></td>
        </tr>
        <tr>
            <td>Age: </td>
            <td><input type="number" name="age" /></td>
        </tr>
        <tr>
            <td>Type: </td>
            <select name="type">
                <option value="Director">Director</option>
                <option value="Teacher">Teacher</option>
            </select>

        </tr>
        <tr>
            <td><input type="submit" /> </td>
        </tr>
    </table>
</form>*@