@page "/employees/{id}/edit"
@model Edit
@{
}
<h2>Edit employee</h2>
<form method="post" >
    <table align="left"> 
        <tr>
            <td>First Name: </td>
            <td><input type="text" asp-for="Employee.FirstName" /></td>
        </tr>
        <tr>
            <td>Last Name: </td>
            <td><input type="text" asp-for="Employee.LastName" /></td>
        </tr>
        <tr>
            <td>Age: </td>
            <td><input type="number" asp-for="Employee.Age" /></td>
        </tr>
        <tr>
            <td>Positions:</td>
            <td>
            @foreach (var position in Model.Positions)
            {
                var cheched = Model.Employee.PositionIds.Contains(position.Id);
                <input type="checkbox" name="employee.positionIds[]" value="@position.Id" checked="@cheched"/> @position.Name
            }
            </td>
        </tr>
        <tr>
            <td><a asp-page="List"> <input type="submit" value="Update" asp-page-handler="Update" /> </a></td>
        </tr>
        <tr>
            <td><a asp-page="List"> <input type="submit" value="Delete" asp-page-handler="Delete" /> </a></td>
        </tr>
    </table>
    <input type="hidden" asp-for="Employee.Id" />
</form>