@page
@model IndexModel
@{
    ViewData["Title"] = Model.Title;
}

<div class="text-center">
    <h1 class="display-4">Welcome to school program</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <h2>View <a asp-page="Schools/List">Schools list</a></h2>
    @*<h2> <a href="http://localhost:5267/FloorAdd">Add floor to school</a></h2>*@
</div>

