<nav class="navbar">
    <ul class="list-group">
        <li class="list-group-item list-group-item-success">
            <a class="nav-link text-dark" asp-area="" asp-page="/Schools/List">Schools</a>
        </li>
        <li class="list-group-item list-group-item-success">
            <a class="nav-link text-dark" asp-area="" asp-page="/Floors/List">Floors</a>
        </li>
        <li class="list-group-item list-group-item-success">
            <a class="nav-link text-dark" asp-area="" asp-page="/Rooms/SchoolList">Rooms</a>
        </li>
        <li class="list-group-item list-group-item-success">
            <a class="nav-link text-dark" asp-area="" asp-page="/RoomTypes/List">Room types</a>
        </li>
        <li class="list-group-item list-group-item-success">
            <a class="nav-link text-dark" asp-area="" asp-page="/Employees/List">Employees</a>
        </li>
        <li class="list-group-item list-group-item-success">
            <a class="nav-link text-dark" asp-area="" asp-page="/Students/List">Students</a>
        </li>
        <li class="list-group-item list-group-item-success">
            <a class="nav-link text-dark" asp-area="" asp-page="/Positions/List">Positions</a>
        </li>
    </ul>
</nav>
