.header {
	width: 100%;
	height: 5vh;
	background-color: rgba(var(--bs-tertiary-color-rgb), .3);
	margin: 10px;
	float: right;
	text-align:left;
}
button {
	width: 250px;
	float: right;
	background-color: rgba(var(--bs-tertiary-color-rgb), .3);

}
.site {
	width: 100%;
}
table {
	width: 100%;
	margin: 10px;
}