@page "/addfloor"
@model FloorAdd
@{
}
<h2>@Model.Message</h2>
<form method="post" >
    <table align="left"> 
        <tr>
            <td>Number: </td>
            <td><input type="number" name="number" /></td>
        </tr>
        <tr>
            <td><input type="submit" /> </td>
        </tr>
    </table>
</form>