@page "/floors/edit/{id}"
@model Edit
@{
}
<h2>Edit floor</h2>
<form method="post" >
    <table align="left"> 
        <tr>
            <td>Number: </td>
            <td><input type="number" asp-for="Floor.Number"/></td>
        </tr>
        <tr>
            <td><a asp-page="List"> <input type="submit" value="Update" asp-page-handler="Update" /> </a></td>
        </tr>
        <tr>
            <td><a asp-page="List"> <input type="submit" value="Delete" asp-page-handler="Delete" /> </a></td>
        </tr>
    </table>
    <input type="hidden" asp-for="Floor.Id" />
    <input type="hidden" asp-for="Floor.SchoolId" />
</form>