@page "/floors/{id}"
@model SelectedFloor
@{
}
<h2>@Model.Message</h2>
<h3><a asp-page="../Floors/List">View floors list</a></h3>
<h3><a asp-page="../Rooms/List" asp-route-floorId="@Model.Id">View rooms list</a></h3>
