@page "/floors/{id}"
@model SelectedFloor
@{
}
<h2>@Model.Message</h2>
<h3><a asp-page="../Floors/List" class="btn btn-lg bg-info">View floors list</a></h3>
<h3><a asp-page="../Rooms/FloorList" asp-route-floorId="@Model.Id" class="btn btn-lg bg-info">View rooms list</a></h3>
