@page "/floors/{floorId}"
@model SelectedFloor
@{
}
<h2>@Model.Message</h2>
<h3><a asp-page="../Floors/List">View floors list</a></h3>
<h3><a asp-page="../Rooms/List" asp-route-floorId="@Model.FloorId">View rooms list</a></h3>
<h3><a asp-page="../Rooms/Add" asp-route-floorId="@Model.FloorId">Add room</a></h3>
