@page "/addRoomType"
@model Add
@{
}
<form method="post">
    <table align="left">
        <tr>
            <td>Name: </td>
            <td><input type="text" name="name" /></td>
        </tr>
        <tr>
            <td><input type="submit" /> </td>
        </tr>
    </table>
</form>