@page "/roomTypes/{id}/edit"
@model Edit
@{
}
<form method="post">
    <table align="left">
        <tr>
            <td>Name: </td>
            <td><input type="text" asp-for="RoomType.Name" /></td>
        </tr>
        <tr>
            <td><a asp-page="List"> <input type="submit" value="Update" asp-page-handler="Update" class="btn btn-success text-dark" /> </a></td>
        </tr>
        <tr>
            <td><a asp-page="List"> <input type="submit" value="Delete" asp-page-handler="Delete" class="btn btn-danger text-dark" /> </a></td>
        </tr>
    </table>
    <input type="hidden" asp-for="RoomType.Id" />
</form>