@page "/roomTypes"
@model SchoolsTest.WebVers.Pages.RoomTypes.List
@{
}
<h1>List room types</h1>
<h3><a asp-page="../RoomTypes/Add">Add room type</a></h3>
<table align="left" width="500px" border="1">
    @foreach (var roomType in Model.RoomTypes)
    {
        <tr>
            <td>@roomType.Id</td>
            <td>|</td>
            <td>@roomType.Name</td>
            <td>|</td>
            @*            <td><a asp-page="Floor" asp-route-id="@position.Id">Select position</a></td>
        <td>|</td>*@
            <td><a asp-page="Edit" asp-route-id="@roomType.Id">Edit room type</a></td>
        </tr>
    }
</table>