@page ""
@model SchoolsTest.WebVers.Pages.Rooms.Edit
@{
}
<h2>Edit room</h2>
<form method="post">
    <table align="left">
        <tr>
            <td>Room number:</td>
            <td><input type="number" asp-for="Room.Number" /></td>
        </tr>
        <tr>
            <td>Room type:</td>
        </tr>
        @foreach (var type in Model.RoomType)
        {
                <tr>
                    <td>@type.Value
                    <input type="checkbox" name="roomTypes[]" value="@type.Value" /></td>
                </tr>
        }
        <tr>
            <td>Floor number:</td>
            <td><input type="number" name="floorNumber" /></td>
        </tr>
        <tr>
            <td><input type="submit" /> </td>
        </tr>
    </table>
</form>